[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
requests = "*"
boto3 = "*"
zappa = "*"
troposphere = "==2.7.0"
slack-sdk = "*"
aiohttp = "*"
cachetools = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
faker = "*"

[requires]
python_version = "3.8"
